<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="root"/>
        <property name="password" value="123456"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost/test"/>
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="initialPoolSize" value="2"/>
        <property name="minPoolSize" value="2"/>
        <property name="maxPoolSize" value="5"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>pojo/SiteUser.hbm.xml</value>
                <value>pojo/Group.hbm.xml</value>
                <value>pojo/Blog.hbm.xml</value>
                <value>pojo/Activity.hbm.xml</value>
                <value>pojo/Register.hbm.xml</value>
                <value>pojo/UserEntity.hbm.xml</value>
                <value>pojo/Message.hbm.xml</value>
                <value>pojo/PictureNews.hbm.xml</value>
                <value>pojo/Subject.hbm.xml</value>
                <value>pojo/WebsiteMessage.hbm.xml</value>
                <value>pojo/Link.hbm.xml</value>
                <value>pojo/Feedback.hbm.xml</value>
                <value>pojo/CommentEntity.hbm.xml</value>
                <value>pojo/File.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
            </props>
        </property>
    </bean>

    <!--SiteUser Bean group-->
    <bean id="siteUserDao" class="dao.impl.SiteUserDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="siteUserService" class="service.impl.SiteUserServiceImpl">
        <property name="siteUserDao" ref="siteUserDao"/>
    </bean>
    <bean id="registerAction" class="action.RegisterAction">
        <property name="siteUserService" ref="siteUserService"/>
    </bean>

    <bean id="loginAction" class="action.LoginAction">
        <property name="siteUserService" ref="siteUserService"/>
        <property name="websiteMessageService" ref="websiteMessageService"/>
    </bean>
    <bean id="exitAction" class="action.ExitAction">

    </bean>
    <bean id="userAction" class="action.UserAction">
        <property name="siteUserService" ref="siteUserService"/>
    </bean>
    <bean id="getStatisticsAction" class="action.GetStatisticsAction">
        <property name="siteUserService" ref="siteUserService"/>
        <property name="messageService" ref="messageService"/>
        <property name="pictureNewsService" ref="pictureNewsService"/>
    </bean>

    <!--Register Bean group-->
    <bean id="registerDao" class="dao.impl.RegisterDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="registerService" class="service.impl.RegisterServiceImpl">
        <property name="registerDao" ref="registerDao"/>
    </bean>

    <bean id="accountConfirmAction" class="action.AccountConfirm">
        <property name="siteUserService" ref="siteUserService"/>
        <property name="registerService" ref="registerService"/>
    </bean>

    <bean id="getUserAllActivitiesAction" class="action.GetUserAllActivitiesAction">
        <property name="activityService" ref="activityService"/>
        <property name="siteUserService" ref="siteUserService"/>
    </bean>

    <bean id="getSpecifiedBlog" class="action.GetSpecifiedBlogAction" scope="prototype">
        <property name="blogService" ref="blogService"/>
    </bean>

    <bean id="getUserAllBlogs" class="action.GetUserAllBlogs">
        <property name="blogService" ref="blogService"/>
    </bean>

    <!--LetterEntity Bean group-->
    <bean id="letterEntityDao" class="dao.impl.LetterEntityDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="letterEntityService" class="service.impl.LetterEntityServiceImpl">
        <property name="letterEntityDao" ref="letterEntityDao"/>
    </bean>
    <bean id="sendSiteLetterAction" class="action.SendSiteLetterAction">
        <property name="letterEntityService" ref="letterEntityService"/>
    </bean>

    <!--CommentEntity Bean group-->
    <bean id="commentEntityDao" class="dao.impl.CommentEntityDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="commentEntityService" class="service.impl.CommentEntityServiceImpl">
        <property name="commentEntityDao" ref="commentEntityDao"/>
    </bean>
    <bean id="postCommentAction" class="action.PostCommentAction">
        <property name="blogService" ref="blogService"/>
        <property name="siteUserService" ref="siteUserService"/>
        <property name="fileService" ref="fileService"/>
        <property name="activityService" ref="activityService"/>
        <property name="commentEntityService" ref="commentEntityService"/>
    </bean>

    <bean id="deleteCommentAction" class="action.DeleteCommentAction">
        <property name="commentEntityService" ref="commentEntityService"/>
        <property name="activityService" ref="activityService"/>
    </bean>

    <!--Message Bean group-->
    <bean id="messageDao" class="dao.impl.MessageDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="messageService" class="service.impl.MessageServiceImpl">
        <property name="messageDao" ref="messageDao"/>
    </bean>

    <bean id="getInternalNoticeAction" class="action.GetInternalNoticeAction">
        <property name="messageService" ref="messageService"/>
    </bean>

    <bean id="getPublicNoticeAction" class="action.GetPublicNoticeAction">
        <property name="messageService" ref="messageService"/>
    </bean>

    <bean id="getNewsAction" class="action.GetNewsAction">
        <property name="messageService" ref="messageService"/>
    </bean>



    <!--PictureNews Bean group-->
    <bean id="pictureNewsDao" class="dao.impl.PictureNewsDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="pictureNewsService" class="service.impl.PictureNewsServiceImpl">
        <property name="pictureNewsDao" ref="pictureNewsDao"/>
    </bean>
    <bean id="messageAction" class="action.MessageAction">
        <property name="messageService" ref="messageService"/>
        <property name="pictureNewsService" ref="pictureNewsService"/>
    </bean>
    <bean id="getPictureNewsAction" class="action.GetPictureNewsAction">
        <property name="pictureNewsService" ref="pictureNewsService"/>
    </bean>
    <bean id="getAccomplishmentAction" class="action.GetAccomplishmentAction">
        <property name="pictureNewsService" ref="pictureNewsService"/>
    </bean>
    <!--Subject Bean group-->
    <bean id="subjectDao" class="dao.impl.SubjectDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="subjectService" class="service.impl.SubjectServiceImpl">
        <property name="subjectDao" ref="subjectDao"/>
    </bean>

    <!--Link Bean group-->
    <bean id="linkDao" class="dao.impl.LinkDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="linkService" class="service.impl.LinkServiceImpl">
        <property name="linkDao" ref="linkDao"/>
    </bean>
    <bean id="getLinkAction" class="action.GetLinkAction">
        <property name="linkService" ref="linkService"/>
    </bean>
    <bean id="linkAction" class="action.LinkAction">
        <property name="linkService" ref="linkService"/>
    </bean>

    <!--Feedback Bean group-->
    <bean id="feedbackDao" class="dao.impl.FeedbackDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="feedbackService" class="service.impl.FeedbackServiceImpl">
        <property name="feedbackDao" ref="feedbackDao"/>
    </bean>
    <bean id="feedbackAction" class="action.FeedbackAction">
        <property name="feedbackService" ref="feedbackService"/>
    </bean>

    <!--WebsiteMessage Bean group-->
    <bean id="websiteMessageDao" class="dao.impl.WebsiteMessageDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="websiteMessageService" class="service.impl.WebsiteMessageServiceImpl">
        <property name="websiteMessageDao" ref="websiteMessageDao"/>
    </bean>
    <bean id="getVisitsAction" class="action.GetVisitsAction">
        <property name="websiteMessageService" ref="websiteMessageService"/>
    </bean>
    <bean id="getMaintenanceAddressAction" class="action.GetMaintenanceAddressAction">
        <property name="websiteMessageService" ref="websiteMessageService"/>
    </bean>
    <bean id="getWebsiteTitleAction" class="action.GetWebsiteTitleAction">
        <property name="websiteMessageService" ref="websiteMessageService"/>
    </bean>
    <bean id="getWebsiteBackgroundAction" class="action.GetWebsiteBackgroundAction">
        <property name="websiteMessageService" ref="websiteMessageService"/>
    </bean>
    <bean id="basicDesignAction" class="action.BasicDesignAction">
        <property name="websiteMessageService" ref="websiteMessageService"/>
    </bean>
    <bean id="basicMessageChangeAction" class="action.BasicMessageChangeAction">
        <property name="websiteMessageService" ref="websiteMessageService"/>
    </bean>

    <bean id="forgetpasswordAction" class="action.ForgetPasswordAction">
        <property name="registerService" ref="registerService"/>
        <property name="siteUserService" ref="siteUserService"/>
    </bean>
    <bean id="resetpasswordAction" class="action.ResetPasswordAction">
        <property name="registerService" ref="registerService"/>
        <property name="siteUserService" ref="siteUserService"/>
    </bean>

    <!--Blog Bean Group-->
    <bean id="blogDao" class="dao.impl.BlogDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="blogService" class="service.impl.BlogServiceImpl">
        <property name="blogDao" ref="blogDao"/>
    </bean>
    <bean id="postblogAction" class="action.PostBlogAction">
        <property name="activityService" ref="activityService"/>
        <property name="blogService" ref="blogService"/>
        <property name="siteUserService" ref="siteUserService"/>
    </bean>
    <bean id="deleteblogAction" class="action.DeleteBlogAction">
        <property name="blogService" ref="blogService"/>
        <property name="siteUserService" ref="siteUserService"/>
        <property name="activityService" ref="activityService"/>
    </bean>

    <!--Activity Bean Group-->
    <bean id="activityDao" class="dao.impl.ActivityDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="activityService" class="service.impl.ActivityServiceImpl">
        <property name="activityDao" ref="activityDao"/>
    </bean>

    <!--File Bean Group-->
    <bean id="fileDao" class="dao.impl.FileDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="fileService" class="service.impl.FileServiceImpl">
        <property name="fileDao" ref="fileDao"/>
    </bean>
    <bean id="uploadfileAction" class="action.UploadFileAction">
        <property name="fileService" ref="fileService"/>
    </bean>
</beans>