<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="root"/>
        <property name="password" value="123456"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost/test"/>
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="initialPoolSize" value="2"/>
        <property name="minPoolSize" value="2"/>
        <property name="maxPoolSize" value="5"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>pojo/SiteUser.hbm.xml</value>
                <value>pojo/Register.hbm.xml</value>
                <value>pojo/UserEntity.hbm.xml</value>
                <value>pojo/Message.hbm.xml</value>
                <value>pojo/PictureNews.hbm.xml</value>
                <value>pojo/Subject.hbm.xml</value>
                <value>pojo/WebsiteMessage.hbm.xml</value>
                <value>pojo/Link.hbm.xml</value>
                <value>pojo/Feedback.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="show_sql">true</prop>
                <prop key="dialect">org.hibernate.dialect.MySQL5Dialect</prop>
            </props>
        </property>
    </bean>

    <!--SiteUser Bean group-->
    <bean id="siteUserDao" class="dao.impl.SiteUserDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="siteUserService" class="service.impl.SiteUserServiceImpl">
        <property name="siteUserDao" ref="siteUserDao"/>
    </bean>
    <bean id="registerAction" class="action.RegisterAction">
        <property name="siteUserService" ref="siteUserService"/>
    </bean>

    <bean id="loginAction" class="action.LoginAction">
        <property name="siteUserService" ref="siteUserService"/>
    </bean>


    <!--Register Bean group-->
    <bean id="registerDao" class="dao.impl.RegisterDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="registerService" class="service.impl.RegisterServiceImpl">
        <property name="registerDao" ref="registerDao"/>
    </bean>

    <bean id="accountConfirmAction" class="action.AccountConfirm">
        <property name="siteUserService" ref="siteUserService"/>
        <property name="registerService" ref="registerService"/>
    </bean>


    <bean id="letterEntityDao" class="dao.impl.LetterEntityDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="letterEntityService" class="service.impl.LetterEntityServiceImpl">
        <property name="letterEntityDao" ref="letterEntityDao"/>
    </bean>
    <bean id="sendSiteLetterAction" class="action.SendSiteLetterAction">
        <property name="letterEntityService" ref="letterEntityService"/>
    </bean>

    <!--Message Bean group-->
    <bean id="MessageDao" class="dao.impl.MessageDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="MessageService" class="service.impl.MessageServiceImpl">
        <property name="MessageDao" ref="MessageDao"/>
    </bean>

    <!--PictureNews Bean group-->
    <bean id="PictureNewsDao" class="dao.impl.PictureNewsDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="PictureNewsService" class="service.impl.PictureNewsServiceImpl">
        <property name="PictureNewsDao" ref="PictureNewsDao"/>
    </bean>

    <!--Subject Bean group-->
    <bean id="SubjectDao" class="dao.impl.SubjectDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="SubjectService" class="service.impl.SubjectServiceImpl">
        <property name="SubjectDao" ref="SubjectDao"/>
    </bean>

    <!--Link Bean group-->
    <bean id="LinkDao" class="dao.impl.LinkDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="LinkService" class="service.impl.LinkServiceImpl">
        <property name="LinkDao" ref="LinkDao"/>
    </bean>

    <!--Feedback Bean group-->
    <bean id="FeedbackDao" class="dao.impl.FeedbackDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="FeedbackService" class="service.impl.FeedbackServiceImpl">
        <property name="FeedbackDao" ref="FeedbackDao"/>
    </bean>


    <!--WebsiteMessage Bean group-->
    <bean id="WebsiteMessageDao" class="dao.impl.WebsiteMessageDaoImpl">
        <property name="factory" ref="sessionFactory"/>
    </bean>
    <bean id="WebsiteMessageService" class="service.impl.WebsiteMessageServiceImpl">
        <property name="WebsiteMessageDao" ref="WebsiteMessageDao"/>
    </bean>


</beans>