#demo {
    background: #FFF;
    overflow:hidden;
    border: 1px dashed #CCC;
    width: 100%;
}
#demo img {
    border: 3px solid #F2F2F2;
}
#indemo {
    float: left;
    width: 800%;
}
#demo1 {
    float: left;
}
#demo2 {
    float: left;
}
